- title t('.title')

%p.nav
  - if can? :index, User
    = link_to t('back'), users_path, class: 'index'
  - if can? :edit, @user
    = link_to t('edit'), edit_user_path(@user), class: 'edit'

%dl
  %dt= User.human_attribute_name :email
  %dd= @user.email
  %dt= User.human_attribute_name :name
  %dd= @user.name
